<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>129568898345-hvqkul52u040khsee68kjv5t9luoh38d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.129568898345-hvqkul52u040khsee68kjv5t9luoh38d</string>
	<key>API_KEY</key>
	<string>AIzaSyAPHTZ073jUjSBS1jTV0ilVf4Ho2jZ5_xY</string>
	<key>GCM_SENDER_ID</key>
	<string>129568898345</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.metinarslan.myyAppFireBase</string>
	<key>PROJECT_ID</key>
	<string>myyappfirebase-72abd</string>
	<key>STORAGE_BUCKET</key>
	<string>myyappfirebase-72abd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:129568898345:ios:b3e42bacc5e7ff1f0a4b38</string>
</dict>
</plist>